
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 products-margin">
    <div class="col-md-12 product-layout text-center">
      <%= link_to(product) do %>
      <article class="product-body">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <header class="product-header">
          <h4><%= product.name %></h4>
          <p><small><%= number_to_currency(product.price, precision: 2) %></small></p>
        </header>
        <p><%= h truncate(product.description, :length => 200, separator: /\s/) %></p>
      </article>
      <p>Average Rating: <div class="rated" data-score="<%= product.average_rating %>"></div> </p><br>
      <% end %>
    </div>
  </div>
